# MaxScale documentation on GitHub:
# https://github.com/mariadb-corporation/MaxScale/blob/2.3/Documentation/Documentation-Contents.md

# Complete list of configuration options:
# https://github.com/mariadb-corporation/MaxScale/blob/2.3/Documentation/Getting-Started/Configuration-Guide.md

# This service enables the use of the MaxAdmin interface
# MaxScale administration guide:
# https://github.com/mariadb-corporation/MaxScale/blob/2.3/Documentation/Reference/MaxAdmin.md
# Global parameters

[maxscale]
threads=8

[zipcodes_one]
type=server
address=192.168.56.102
port=3306

[zipcodes_two]
type=server
address=192.168.122.85
port=3306

[Sharded-Service]
type=service
router=schemarouter
servers=zipcodes_one,zipcodes_two
user=rootwork
password=YqztlYGDvZ8tVMe3GUm9XCwQi

[Sharded-Service-Listener]
type=listener
service=Sharded-Service
protocol=MariaDBClient
port=4000

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers=zipcodes_one,zipcodes)two
user=monitoruser
password=7SP1Zcsow8TG+9EkEBVEbaKa
monitor_interval=1000
